@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
  font-family: 'Noto Sans JP', sans-serif !important;
}

.page-title {
  margin-bottom: 0.3rem;
}
.unit-search-box {
  margin: 1rem auto !important;
}
.list-link {
  text-decoration: none;
}
.theme--dark.v-data-table
  > .v-data-table__wrapper
  > table
  > tbody
  > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background-color: #181818 !important;
}
